<!DOCTYPE html>
<html>
    <head>
        <title>Praveen's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Praveen's Blog</a></h1>
        </header>

        <article>
            <time>published: 02.02.2026, 08:42</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post</p>
        </article>

        <article>
            <time>published: 02.02.2026, 08:42</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post</p>
        </article>
    </body>
</html>